
html, body {
    background-color: white;
    font-family: 'Lato', sans-serif;;
}

.navbar{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px #252525;
}

.navbar ul{
    display: flex;
    list-style: none;
    font-size: 18px;
}

.navbar ul li a{
    text-decoration: none;
    color: #2467b7;
    padding: 8px 65px;
    transition: all .5s ease;
    font-weight: 400;
}

.navbar ul li a:hover{
    background-color: #2c81e8;
    color: white;
    box-shadow: 0 0 10px #2c81e8;
    border-radius: 15px;
    font-weight: 700;
}

.analysis{
    display: block;
    height: 100%;
    margin-bottom: 100px;
}

.analysis h1{
    font-size: 32px;
    font-weight: 700;
    padding-left: 30px;
    color: #2467b7;
    text-align: center;
}

.intro{
    position: center;
    border-radius: 15px;
    height: 80%;
    box-shadow: 0 0 10px #252525;
    padding: 30px;
    display: block;
}

.intro h2{
    font-weight: 400;
    color: #2467b7;
}

.intro p{
    font-weight: 400;
}

.infoGraf{
    box-shadow: 0 0 10px #252525;
    border-radius: 15px;
    display: flex;
    width: 820px;
    position: relative;
    bottom: 18px;
}

.infoGraf h2{
    padding-left: 30px;
    color: #2467b7;
}

.infoMap{
    position: relative;
    box-shadow: 0 0 10px #252525;
    border-radius: 15px;
    display: flex;
    width: 650px;
    margin-left: 840px;
    bottom: -50px;
}

.infoMap h2{
    padding-left: 160px;
    color: #2467b7;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.mapBox{
    box-shadow: 0 0 10px #252525;
    width: 650px;
    height: 420px;
    position: relative;
    left: 56%;
}

#map {
    width: 650px;
    height: 420px;
    display: block;
}

#chartBox{
    height: 420px;
    width: 820px;
    background-color: white;
    border-radius: 15px;
    display: block;
    box-shadow: 0 0 10px #252525;
    position: relative;
    top: -420px;
}

#chart{
    width: 400px;
    height: 200px;
    display: block;
}

#chartBox1{
    height: 420px;
    width: 820px;
    background-color: white;
    border-radius: 15px;
    display: block;
    box-shadow: 0 0 10px #252525;
    position: relative;
    left: 45%;
    top: -200px;
}

#chart1{
    width: 820px;
    height: 420px;
    display: block;
}

